.inputContainer {
  display: flex;
  flex-direction: column;
}

.input {
  width: 420px;
  height: 54px;
  border: 1px solid #E0E5E9;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  padding-left: 20px;
}

.input::placeholder {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  color: #75777A;
  text-align: start;
  padding-right: 20px;
}

.input:focus {
  outline: none !important;
  border-color: black;
}

.input:focus::placeholder {
  color: transparent;
}

.inputNotValid {
  border-color: #FF4B26 !important;
}
.textArea{
  height: 108px;
  resize: none;
  padding: 8px 10px;
}

@media (max-width:614px){
.input{
  width: 350px;
}
}