.selectWrapper{
  position: relative;
}
.selectForQuestions{
display: flex;
  width: 420px;
  height: 54px;
  border-radius: 8px;
  background-color: transparent;
  transition: all .7s ease;
  padding: 0 20px;
}
.selectForQuestions:hover{
  cursor: pointer;
}
.placeholder{
  position: absolute;
  z-index: 1;
  left: 23px;
  top: 2px;
  pointer-events: none;
  font-size: 12px
}

@media (max-width:614px){
  .selectForQuestions{
    width: 350px;
  }
}